/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:"Trebuchet Ms";
	color:#2a2a2a;
	font-size:14px;
	line-height:18px;
}
	
.error{
	color: #FF0000;
	font-size:11px;
}

.success{
	color: #33CC00; 
	font-size:11px;
}

.popup_error{
	position:absolute; 
  	z-index:10;
  	width:250px;
  	height:30px;
  	font-family:Verdana, Arial, Helvetica, sans-serif;  
  	text-align:center;
  	font-size:12px;
	font-weight: bold;

  	background-color: #FFFFCC;
  	color: #FFFFFF;
  	border:2px solid #FFCC66;
  	padding-top:15px;

	filter:alpha(opacity=90);
    opacity:0.9;
  	display:none;
}	
