
/* Định nghĩa các thẻ liên kết */
a {
    /*font-family: Verdana, Arial, sans-serif;*/
    /*font-size: small;*/
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: blue;
}
a:hover {
    text-decoration: none;
    color: #4edaff;
}
a:active {
    color: red;
    text-decoration: none;
}

body {
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
    background-color: #512DA8 !important;
}

.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    height: 220px;
    padding: 10px 10px 10px 10px;
    margin: 0px auto;
    background-color: #9575CD !important;
    border-radius: 0 !important;
    color: floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
